<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href="css/login.css">
</head>
    <div class="page-container">
        <div class="form-container">

            <img src="images/DIV logo.png">
            
                <form>
                <!-- <label for="username">Username:</label> -->
                <input type="text" name="username" placeholder="username" id="username" required>

                <!-- <label for="password">Password:</label>  -->
                <input type="password" name="password" placeholder="password" id="password" required>
                
                <div>
                <button class="sign-in-btn">Sign In</button>
                </div>
            </form>
        </div>    
    </div>
    <script src="js/login.js"></script>
